<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación Symfony + React</title>
    {{ encore_entry_link_tags('app') }} {# Incluye los estilos de Webpack Encore #}
</head>
<body>
    <div id="root"></div> {# Contenedor donde React montará su componente #}
    {{ encore_entry_script_tags('app') }} {# Incluye el script de Webpack Encore #}
</body>
</html>
